.wrapper {
    margin: auto;
    padding: 15px;
    color: green;
    width: 420px;
    border: 2px solid rgb(255, 255, 255);
    backdrop-filter: blur(30px);
    box-shadow: 0 0 10px rgb(0, 0, 0, .4);    
    border-radius: 20px;
}

.wrapper h1{
    font-size:36px;
    text-align:center;
    padding: 10px;
}

.wrapper .input-box{
    position:relative;
    width:100%;
    height:50px;
    margin:30px 0;
   
}

.wrapper .input-box input{
    width:100%;
    height:100%;
    border-radius:40px;
    background:transparent;
    border: 2px solid rgb(0, 0, 0);
    padding: 20px 45px 20px 20px;
}

.wrapper .input-box input::placeholder {
    color:green;
    font-weight:500;
    
}

.wrapper .icon{
    color:green;
    position:absolute;
    right:20px;
    top:50%;
    transform:translateY(-50%);
    font-size:20px;
}

.wrapper .remember-forgot{
    display:flex;
    justify-content: space-between;
    font-size:15px;
    margin: -15px 0 15px;

}

.remember-forgot label input{
    accent-color:white;
    margin-right: 4px;
}

.remember-forgot a {
    color: green;
    font-weight: bold;
    font-style: italic;
}

.wrapper button {
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    font-size: 20px;
    font-weight: bolder;
    transition: transform 0.3s;
}

.wrapper button:hover {
    background: lightgreen;
    transform: scale(1.1);
}

.register-link{
     font-size:15px;
     text-align:center;
     margin: 25px 0 15px;
 }

.register-link p a {
    color:green;
    font-weight:bold;
    font-style:italic;
}