.App {
  text-align: center;
  display:flex;
  flex-direction: column;
  min-height:100vh;
}

.main-content{
    flex-grow:1;
}

body{
    background-color: aliceblue;
}

footer {
    background-color: #2693b183;
}   

.navbar {
    background:lightblue;
    font-size:x-large;
    font-style:oblique;   
    margin-bottom:50px;
}

.navbar-brand {
    position: absolute;
    font-weight: bold;
    font-size: xx-large;
    left: 85px;
    top: 35px;
}

.navbar-toggler {
    position: absolute;
    left: 15px;
    top: 45px;    
}

.navbar-collapse{
    margin-top:80px;
}

.nav-link:hover {
    /*background-color: lightsteelblue;*/
    text-decoration: underline;
}

.nav-link{
    font-weight:bold;    
}

.navbar-text {
    font-size: 20px;
    margin-top: 30px;    
}

.icon{
    color:green;
    font-size:35px;
    
}

#loginBtn {
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 150px #61dafb; 
    border-radius: 15px;
    overflow:hidden;
    
}

.table thead th, .table tbody td {
    position: sticky;
    z-index: 1;
    height: 60px;
    padding: 5px;
    text-align: left;
    /* white-space:nowrap;*/
}
.table thead th {
    padding: 10px 5px 2px 15px;
    vertical-align: top;
    background-color:lightblue;     
   
}

.table tbody{
    display: block;
    max-height:700px;
    overflow-y:auto;
}

.table thead, .table tbody tr{
    display:table;
    table-layout:fixed;
    width:100%;
    
}










.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
